<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定UserMapper-->
<mapper namespace="cn.luoyudi.mapper.AccountMapper">

    <!--void save(Account account);-->
    <insert id="save">
        insert into account
            value (null, #{name}, #{money});
    </insert>

    <!--List<Account> findAll();-->
    <select id="findAll" resultType="account">
        select *
        from account;
    </select>
</mapper>